div {
  width: 50%;
  margin: auto;
}
footer{
  position: relative;
  font-size: 12px;
  margin-left: 340px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background-color: #aa00ff;
  border: #aa00ff;
  text-align: center;
  border-radius: 40px;
  width: 670px;
  height: 20px;
  
}
body {
  background-image: url("https://media.tenor.com/images/acbfcb98ba54f162e5cf85d494cb8624/tenor.gif");
}
#quantity{
  margin: 0;
  padding: 0;
  border-radius: 10px;
  font-size: 30px;
  text-align: center;
  width: 200px;
  margin-top: 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#bottomMessage {
 margin: 0;
 text-align: center;
 padding: 0px;
}
#H01 {
  color: #ffff;
  font-family: "Baloo Bhai", cursive;
  position: absolute;
  bottom: 380px;
  left: 400px;
}
.results {
  border: none;
  font-size: 30px;
  float: right;
  padding-bottom: 5px;
  width: 60px;
}

.msg {
  width: 90%;
  margin: auto;
  border: 0px ridge yellow;
}
.num {
  width: 90%;
  margin: auto;
  border: 0px transparent;
  padding-bottom: 20px;
}
.mod {
  color: #ffff;
  text-align: center;
  float: left;
  margin: 9px;
  padding: 7.5px;
  width: 25px;
  background-color: #fff;
  border: #ffff;
  border-radius: 20px;
}
.container {
  margin-top: 150px;
  background-color: #00cc99;
  border: #00cc99;
  border-radius: 10px;
}

.button {
  background-color: #aa00ff;
  border: #aa00ff;
  color: white;
  width: 120px;
  height: 50px;
  padding: 2px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px 20px;
  -webkit-transition-duration: 0.7s; /* Safari */
  transition-duration: 0.7s;
  cursor: pointer;
}

.button1 {
  border-radius: 25px;
  background-color: #aa00ff;
}

.button:hover {
  background-color: #aa00ff;
  color: white;
}
.button:active {
  background-color: #aa00ff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

a:link {
  color: #aa00ff;
  background-color: transparent;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
a:visited {
  color: #aa00ff;
  background-color: transparent;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
a:active {
  color: #aa00ff;
  background-color: transparent;
  text-decoration: underline;
  font-family: "Montserrat", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
